
.banner {
  background-size: cover;
  background-position: center;
  color:  white;
  height: 400px;
  object-fit: cover;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  text-shadow: 0 10px 20px rgba(0,0,0,0.2);
  margin-top: 30px;
  padding: 25px;
}


.cards {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  margin: 10px 20px;
  padding: 0px 10px;

}





.bottom-container {
  background: rgb(70,70,70);
  background-size: cover;
  background-position: center;
  color:  white;
  height: 80px;
  object-fit: cover;
  border-radius: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 25px;
  padding: 0px 50px;
}
